@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
    background-color: black;
}

#title{
    display: flex;
    position: absolute;
    color: white;
}

.author-title{
    color:white;
}
@media screen and (min-width: 200px) {

    .slider{
        display: flex;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }
    .logo-container{
        width: 90px;
        justify-content: center
    }
    
    .bookgarden-logo{
        width: 180px;
        margin:12px;
    }

    #title{
        display: flex;
        align-self: center;
        color: white;
    }

    .chip-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 160px;
        width: 160px;
        border-radius: 80px;
        border: solid 3px rgb(255, 0, 0);
        box-shadow: rgb(251, 251, 251);
        background-position: center;
        background-size: cover;
    }

    .chip1{
    background-image: url("img/orwell.jpeg");
   }

   .chip4{
    background-image: url("img/stephen_king.jpeg");
   }

.lineandpuck{
    display: flex;
    flex-direction: column;
}
.puck{
    display: flex;
    position: absolute;
    margin-left: 35%;
    margin-top: -2.5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    border-radius: 45px;
    border: solid 3px rgb(255, 0, 0);
    box-shadow: rgb(251, 251, 251);
    background-color: red;
    background-position: center;
    color: white;
    z-index: 2;
}
.line{
    display: flex;
    width: 50vw;
    border: 1px solid white;
    align-self: center;
    z-index: 1;
}

.results{
    position: absolute;
    top: 65%;
    left: 58%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookresults{
    width: 100px;
}
.result-text{
    color: white;
    font-size: 12px;
}
}
